<configuration>
  <system.webServer>
    <handlers>
      <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python39\python.exe|D:\home\site\wwwroot\ptvs_virtualenv_proxy.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Dynamic Content">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:5000{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
